// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Datatables
@import "~datatables/media/css/jquery.dataTables.min.css";

button{
    width: 133px;
    margin: 2px;
}

.navegacion {background: rgba(255,0,0,1);
background: -moz-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(247,255,0,0.76) 4%, rgba(249,191,5,0.35) 11%, rgba(253,82,13,0.2) 23%, rgba(255,18,18,0.13) 30%, rgba(255,18,18,0) 43%, rgba(255,18,18,0) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,0,0,1)), color-stop(4%, rgba(247,255,0,0.76)), color-stop(11%, rgba(249,191,5,0.35)), color-stop(23%, rgba(253,82,13,0.2)), color-stop(30%, rgba(255,18,18,0.13)), color-stop(43%, rgba(255,18,18,0)), color-stop(100%, rgba(255,18,18,0)));
background: -webkit-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(247,255,0,0.76) 4%, rgba(249,191,5,0.35) 11%, rgba(253,82,13,0.2) 23%, rgba(255,18,18,0.13) 30%, rgba(255,18,18,0) 43%, rgba(255,18,18,0) 100%);
background: -o-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(247,255,0,0.76) 4%, rgba(249,191,5,0.35) 11%, rgba(253,82,13,0.2) 23%, rgba(255,18,18,0.13) 30%, rgba(255,18,18,0) 43%, rgba(255,18,18,0) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(247,255,0,0.76) 4%, rgba(249,191,5,0.35) 11%, rgba(253,82,13,0.2) 23%, rgba(255,18,18,0.13) 30%, rgba(255,18,18,0) 43%, rgba(255,18,18,0) 100%);
background: linear-gradient(135deg, rgba(255,0,0,1) 0%, rgba(247,255,0,0.76) 4%, rgba(249,191,5,0.35) 11%, rgba(253,82,13,0.2) 23%, rgba(255,18,18,0.13) 30%, rgba(255,18,18,0) 43%, rgba(255,18,18,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff1212', GradientType=1 );}